__pycache__/grid.cpython-312.pyc
__pycache__/squaredleGrid.cpython-312.pyc
__pycache__/test_grid_instantiation.cpython-312-pytest-8.3.5.pyc
__pycache__/test_pytest.cpython-312-pytest-8.3.5.pyc
.vscode/settings.json
